@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
body{
    margin:0;
}
/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"; */
#container{
    position: relative;
    width:100%;
    height:50vh;
    background-image: url(https://i.imgur.com/jY5KJsC.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snow{
    position: absolute;
    top:0;
    left:0;
    width:70px;
    height:70px;
    background-image: url(..//../public/image/snow.png);
    background-size: cover;
    animation: animationSnow 4s ease-in-out infinite;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .page-item {
    display: inline;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
@keyframes animationSnow{
    0%{
        transform: translate(0,0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(100px,50vh);
    }
}
li:hover .dropdown-category {
  display: block;
}