@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {

    font-family: 'Lexend Deca', sans-serif;
  }
}
/* .group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

<<<<<<< HEAD

=======
.group-hover\:translate-y-1 {
  transform: translateY(1);
  transition: transform 1s;
} */
>>>>>>> ddbfb9f7952d0758c366f1af2046e9503ceda781
